/* .container {
    background-color: lightgray;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    height: 100vh;
} */

/* 
.card {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    background-color: lightgreen;
}

@media (min-width:768px) {
    .card {
        background-color: blueviolet;
    }
} */

/* .row {}

.column {
    height: 100px;
    width: 33.33%;
    float: left;
    background-color: orange;
    border: 1px solid gray;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;
} */