a {
    text-decoration: none !important;
}

a:hover {
    color: #d81e06 !important;
}

.card {
    border-radius: 0px;
    border-bottom: none;
    height: 500px;
    padding: 0px;
}

.card-header {
    background: linear-gradient(294.25deg, rgb(189, 44, 39) -23.55%, rgb(227, 90, 54) 60.47%, rgb(236, 194, 162) 95.84%);
    border-radius: 0px;
    border-bottom: none;
    height: 80px;
}

.card-body-img {
    border-radius: 0px;
    border-bottom: none;
    height: 40px;
    padding: 0px;
    margin-top: 5px;
    margin-right: 2%;
}

.card-body-content {
    border-radius: 0px;
    border-bottom: none;
    padding: 40px 0px 0px 0px;
    margin-top: 5px;
    margin-left: 2%;
}

.card-footer {
    background-color: #c6a378;
    border-radius: 0px;
    border-bottom: none;
    height: 60px;
    color: white;
    padding-top: 15px;
}

.card-footer:hover {
    background: linear-gradient(294.25deg, rgb(189, 44, 39) -23.55%, rgb(227, 90, 54) 60.47%, rgb(236, 194, 162) 95.84%);
}

.tag-red {
    padding: 40px 0px 0px 0px;
    margin-left: 2%;
    border-radius: 3px;
    color: white;
    padding: 3px;
}

.footer {
    background-color: #31313a;
    height: 400px;
}

span>a:hover {
    border: black;
}

@media(max-width:576px) {
    .content {
        padding-left: 10px;
    }
}