.div-flex {
    width: 50%;
    height: 500px;
    background-color: lightgray;
    display: flex;
}

.div-flex-item {
    width: 100px;
    height: 100px;
}

.div-flex-item:nth-child(odd) {
    background-color: lightcoral;
}

.div-flex-item:nth-child(even) {
    background-color: lightgreen;
}